.wrapper {
  border-bottom: 1px solid #000;
  width: 450px;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: rgb(56, 58, 143);
  padding: 8px;
}

.input {
  display: block;
  padding: 5px;
  margin-top: 12px;
  font-size: 14px;
  font-style: italic;
  border-radius: 6px;
  border: 1px solid rgb(38, 65, 105);
}